
header {
 font-family: Futura, Trebuchet MS;
 font-weight: bold condensed;
 color: #808080; 
 padding:3px;
 font-size: 25px;

}
 

#WPI{
   
    display: block; 
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

body {
  background-color: #FFAFA4;
}

/*
h1 {
 color: red ;
 text-align: center;
 padding:3px;
}

p {
  font-family: verdana;
  font-size: 20px;
  padding:3px;
}

footer{
  color: darkred;
  padding: 3px;
  font-family: Futura, Trebuchet MS;
}
*/
#content {
    padding:3px;
}


#main_nav ul { padding: 0; margin: 0; }

#main_nav li  {
  list-style-type: none; 
}

#main_nav li a {
   display: block;
   text-decoration: none; 
   border-radius: 10px;  
   margin: 6px;
   padding: 9px;
   color: #222;
   font-weight: bold;

  
   background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));

   border: 1px solid #666; 
}

#nav li:active {
  background-color: #808080;
  background-image: none;
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, .2);
}

